/* Different */
/* It should be listed at the end of the CSS to override the original scyfin */
/* Brighten the backdrop image */
.backgroundContainer.withBackdrop {
    background-color: rgba(0, 0, 0, 0.44) !important;
}

/* Add card around groups section */
.layout-desktop .detailsGroupItem {
    background: var(--primary-background-transparent) !important;
    padding: 10px 20px !important;
    border-radius: 25px !important;
    width: fit-content !important;
    backdrop-filter: blur(40px) !important;
    display: flex;
    gap: 1em;
}

.layout-desktop .itemBackdrop:after {
  background:rgba(0,0,0,.438) !important;
}

.detailsGroupItem .genresLabel,
 {
    display: flex;
    justify-content: left; 
    align-items: center; /* 垂直居中 */
}
.detailsGroupItem .genres {
    width: fit-content !important;
    max-width: 650px !important;
    min-width: 170px !important;
    font-size: 100%;
    justify-content: center !important; /* 水平居中 */
    align-items: center !important; /* 垂直居中 */
}

.detailsGroupItem.directorsGroup,
.detailsGroupItem.writersGroup,
.detailsGroupItem.studiosGroup {
    display: none !important;
}

.layout-mobile .detailsGroupItem.studiosGroup,
.layout-mobile .detailsGroupItem.writersGroup,
.layout-mobile .detailsGroupItem.directorsGroup,
{
    display: none !important;
}

.mediaInfoItem.mediaInfoText.mediaInfoOfficialRating {
    color: rgb(0, 0, 0) !important;
    background: rgb(242, 176, 30) !important;
}
/* Add card around description */
.layout-desktop .detailSectionContent {    
    border-radius: var(--rounded-cards) !important;
    padding: 16px 20px 10px 20px !important;
    margin-top: 22px !important;
    margin-right: -40px !important;
    backdrop-filter: blur(4.7px) !important;
}

.layout-mobile .detailSectionContent {    
    border-radius: var(--rounded-cards) !important;
    padding: 16px 20px 10px 20px !important;
    margin-top: 22px !important;
    margin-right: -40px !important;    
}
.detailSectionContent h3.tagline {
    margin-top: 4% !important;
    font-size: 16px !important;
    color: var(--primary-accent-color) !important;
}


/* Re-position title */
.layout-desktop .nameContainer {
    position: absolute !important;
    margin-top: -80px !important;
}
.layout-desktop .itemMiscInfo {
    position: absolute !important;
    margin-left: 21px !important;
    margin-top: -27.4px !important;
    font-size: 113%;
}

/* Re-position logo */
.layout-desktop .detailLogo,
.layout-tv .detailLogo {
    right: 0 !important;
    left: 5% !important;
    top: 10vh !important;    
    max-width: 55vh !important;
    width: 122% !important; 
}

.layout-mobile .detailLogo.lazy.lazy-image-fadein-fast {
    top: 17% !important;
    margin-right: -20% !important;
    max-width: 25vh !important;
    width: 50% !important;
    display: flex !important;
}

.layout-mobile .itemMiscInfo.itemMiscInfo-primary {
    font-size: 10px !important;
    font-weight: 600 !important;
}

.layout-desktop .emby-button-foreground {
    height: 100%;
    display: flex;
    top: 0 !important;
    justify-content: center !important; /* 水平居中 */
    align-items: center !important; /* 垂直居中 */
}

.trackSelections .selectContainer .detailTrackSelect {
    padding: 0 10px !important;
}

.fab, .raised {
    background: none !important;
    backdrop-filter: blur(var(--blur)) brightness(90%) !important;
}

/*///////////////兼容 10.8.xx///////////////////////////*/

/* 隐藏在何网络播出 */
#seriesAirTime {
  display: none !important;
}

div.detailSectionContent p.overview.detail-clamp-text {
  padding-top: 1% !important;
}

.material-icons.person::before {
    content: "\e40a" !important;
}
/*///////////////兼容 10.8.xx///////////////////////////*/

.listItemImage {
    height: 170px !important;
    width: 170px !important;
}